* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
}

.container {
    position: relative;
    margin: auto;
    width: 1032px;
    height: 616px;
}

.container__header {
    position: absolute;
    top: 19px;
    left: 225px;
    font-size: 28px;
}

.product-grid {
    position: absolute;
    display: grid;
    width: 974px;
    height: 456px;
    left: 29px;
    top: 103px;
    border: 1px solid #d3d3d3;
    grid-template-columns: repeat(auto-fill, minmax(243px, 0));
    grid-gap: 0;
}

.product-grid__item {
    border-right: 1px solid #ccc;
    position: relative;
    padding: 18px 20px;
}

.product-grid__item:last-child {
    border-right: 0px solid #ccc;
}

.product__category {
    color: #72767a;
    height: 80px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 22px;
    font-size: 18px;
}

.category-name:active,
.category-name:hover,
.category-name {
    text-decoration: none;
    color: #72767a;
    display: block;
    text-align: center;
    line-height: 60px;
}

.product__image img {
    display: block;
    height: 138px;
    width: auto;
    margin: auto;
}

.product__image {
    margin-bottom: 35px;
}

.product__values {
    height: 140px;
    width: 100%;
}

.product__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #009be1;
    height: 18px;
    font-weight: 550;
}

.product__price {
    color: #000;
    height: 69px;
    text-align: center;
}

.price {
    display: inline-block;
    margin-top: 30px;
    font-weight: 540;
}

.strong-letter {
    font-weight: 550;
}

.money-font {
    font-size: 14px;
}

.price__old {
    text-decoration: line-through;
    font-size: 11px;
    margin-right: 8px;
}

.price__new {
    font-size: 18px;
}

.product__buttons {
    height: 40px;
    padding-left: 35px;
    padding-right: 30px;
}

.button-buy {
    font-weight: 550;
    height: 100%;
    width: 140px;
    color: #000;
    background-color: #f0e524;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    z-index: 1;
}

.button-buy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #282828;
    z-index: -1;
    transition: all 250ms
}

.button-buy:hover {
    color: #e8e8e8;
    cursor: pointer;
}

.button-buy:hover::before {
    width: 100%;
}


/*Перекривання властивостей для першого елементу*/

.item-1 .product__price {
    visibility: hidden;
}

.item-1 .button-buy,
.item-1 .button-buy::before,
.item-1 .button-buy:hover {
    background-color: #cc3399;
    cursor: default;
    color: #fff;
}


/*Кнопки гортанння*/

.button {
    display: inline-block;
    position: absolute;
    top: 183px;
    width: 37px;
    height: 37px;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
}

.button::after {
    content: '';
    display: inline-block;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #d3d3d3;
    border-right: 3px solid #d3d3d3;
}

.button-left {
    left: 13px;
}

.button-left:after {
    margin-left: 5.5px;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.button-right {
    right: 13px;
}

.button-right:after {
    margin-right: 5.5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button:hover {
    border: 2px solid #000;
    cursor: pointer;
}

.button:hover:after {
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}


/* круги новинок*/

.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    color: #fff;
    border: 4px solid #fff;
    right: 6px;
    top: -33px;
    font-size: 12px;
}

.new-product {
    background-color: #86b022;
}

.new-product::after {
    content: 'Новинка';
    display: inline-block;
    margin-top: 23px;
    margin-left: 4.5px;
}

.hit-product {
    background-color: #009de1;
}

.hit-product::after {
    content: 'Хіт продажів';
    display: inline-block;
    text-align: center;
    margin-top: 14.5px;
    margin-left: 1.5px;
    font-size: 11px;
}