* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.social-icons {
    list-style-type: none;
    margin: 40px auto;
    text-align: center
}

.social-icons li {
    background-image: url('/photo/social-icons.png');
    background-position-y: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.social-icons li a {
    width: 50px;
    height: 50px;
    text-indent: -10000px;
    display: block;
}

.social-icons #fb_icon {
    background-position-x: 0px;
}

.social-icons #twitter_icon {
    background-position-x: -50px;
}

.social-icons #linkedin_icon {
    background-position-x: -100px;
}

.social-icons #instagram_icon {
    background-position-x: -150px;
}