body {
    background-color: #493931;
}

.container {
    display: flex;
    width: 940px;
    height: 392px;
    margin: 25px auto 0 auto;
    position: relative;
    background-color: #493931;
}

.left-side {
    background-image: url('/photo/burger1.png');
    background-repeat: no-repeat;
    width: 330px;
    height: 100%;
    background-size: cover;
}

.burger-name {
    font-family: 'Times New Roman', Times, serif;
    height: 212px;
    width: 335px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 155px;
    margin-left: -10px;
    text-transform: uppercase;
}

.burger-name span {
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#name {
    width: 235px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 55px;
    line-height: 43px;
}

#total-price {
    color: #fdca19;
}

#price {
    color: white;
}

.right-side {
    width: 610px;
    padding: 42px 50px;
    background-color: white;
}

#right-side-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    color: #474747;
}

.block {
    position: relative;
    width: 202px;
    height: 60px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    margin: 10px 0 10px 0;
}

.block::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #d5d5d5;
    top: 54px;
    left: 95px;
    transform: rotate(45deg);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.burgers-name {
    text-transform: uppercase;
    font-weight: 520;
    color: #474747;
    font-size: 20px;
}

.burgers-priсe {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #9e9e9e;
    font-size: 18px;
    text-transform: uppercase;
}

.price-pos {
    font-weight: 400;
}

#no-uppercase {
    text-transform: none;
}

.button {
    display: block;
    position: absolute;
    right: 0;
    bottom: -65px;
    width: 175px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: black;
}

.button:hover {
    background-color: #fff;
    color: #000;
}